
.header{
    background-color: dimgrey;
    grid-area: header;
}

.header img{
    max-width: 80px;
}


.loginBlock {
    float: right;
    color: white;
    text-decoration: none;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}