
.nav{
    background-color: darkslategrey;
    grid-area: nav;
    margin-left: 3px;
    padding: 7px;
    /*height: auto;*/
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}